.link {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidebar {
    height: 100vh;
    overflow-y: auto;       /* FIX */
    overflow-x: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-content {
    height: 100vh;
    overflow-y: auto;       /* FIX */
    padding-bottom: 50px;
}

.home {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.Link {
    text-decoration: none;
}


